{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Foxhound - Silverlining Pvt Ltd</title>
<link rel="icon" href="img/Fevicon.png" type="image/png">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
<link rel="stylesheet" href="{% static 'css/themify-icons.css'%}">
<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css'%}">
<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css'%}">
<link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
<header class="header_area">
<div class="main_menu">
<nav class="navbar navbar-expand-lg navbar-light">
<div class="container box_1620">
<a class="navbar-brand logo_h" href="/"><img src="{% static 'img/fox-white.png'%}" style="height: 48px;width: 48px;" alt=""></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
<ul class="nav navbar-nav menu_nav justify-content-end">
<li class="nav-item active"><a class="nav-link" href="">Home</a></li>
<li class="nav-item"><a class="nav-link" href="">Features</a></li>
<li class="nav-item"><a class="nav-link" href="">Service</a>
<li class="nav-item"><a class="nav-link" href="">Contact</a></li>
</ul>
</div>
</div>
</nav>
</div>
</header>


<section class="hero-banner text-center">
<div class="container">
<p class="text-uppercase">Network Event Log Analyzer</p>
<h1>Foxhound Security Solution</h1>
<p class="hero-subtitle">AI based Anomaly Detection Engine</p>
<a class="button button-outline" href="#">Get Started</a>
</div>
</section>

<section class="section-margin">
<div class="container">
<div class="row">
<div class="col-md-6 col-lg-4">
<div class="card-feature card-feature-content">
<h2>Firewall Rules</h2>
<p>Manage your Firewall Rules. Detect New Rules and follow up</p>
</div>
</div>
<div class="col-md-6 col-lg-4">
<div class="card-feature card-feature-content">
<h2>Traffic Log Analyzer</h2>
<p>View your hourly network traffics</p>
</div>
</div>
<div class="col-md-6 col-lg-4">
<div class="card-feature card-feature-content">
<h2>Threat Log Analyzer</h2>
<p>View your incoming Threats</p>
</div>
</div>
<div class="col-md-6 col-lg-4">
<div class="card-feature card-feature-content">
<h2>End User Behaviour Analytics</h2>
<p>Detect Anomalous behaviour inside your network and get trouble ticket raised by the system</p>
</div>
</div>
<div class="col-md-6 col-lg-4">
<div class="card-feature card-feature-content">
<h2>Blacklist Logs</h2>
<p>View traffic logs that originated from blacklisted ip address</p>
</div>
</div>
<div class="col-md-6 col-lg-4">
    <div class="card-feature card-feature-content">
    <h2>Secure Log Storage</h2>
    <p>Log Storage</p>
    </div>
    </div>
</div>
</div>
</section>
<section class="bg-gray section-padding">
<div class="container">
<div class="section-intro pb-5 mb-xl-2 text-center">
<h2 class="mb-4">Get Started</h2>
<p>Contact us to know mores</p>
</div>
<form class="form-subscribe" action="#">
<div class="input-group align-items-center">
<input type="text" class="form-control" placeholder="Enter Your email" required>
<div class="input-group-append">
<button class="button button-shadow2" type="submit">Subscribe</button>
</div>
</div>
</form>
</div>
</section>



<footer class="footer-area section-gap">
<div class="container">
<div class="row">
<div class="col-xl-3 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
<h4>About Us</h4>
<p>Foxhound Security Solution</p>
<a class="navbar-brand logo_h d-none d-xl-block" href="index.html"><img src="img/logo.png" alt=""></a>
</div>
<div class="col-xl-3 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
<h4>Contact Info</h4>
<ul>
<li>Address: Durbarmarg, Nepal</li>
<li><a href="tel:+XXXXXXXX">Phone: +999 999999999</a></li>
</ul>
</div>
<div class="col-xl-2 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
<h4>Important Link</h4>
<ul></ul>
<li><a href="#">About</a></li>
<li><a href="#">Service</a></li>
<li><a href="#">Contact Us</a></li>
</ul>
</div>
<div class="offset-xl-1 col-xl-3 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
<h4>Newsletter</h4>
<p>Heaven fruitful doesn't over lesser in days. Appear creeping seasons deve behold bearing days open</p>
<div class="form-wrap" id="mc_embed_signup">
<form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get">
<div class="input-group">
<input type="email" class="form-control" name="EMAIL" placeholder="Your Email Address" onfocus="if (!window.__cfRLUnblockHandlers) return false; this.placeholder = ''" onblur="if (!window.__cfRLUnblockHandlers) return false; this.placeholder = 'Your Email Address '" data-cf-modified-0df7bc5c9e9f73d5f6fca62f-="">
<div class="input-group-append">
<button class="btn click-btn" type="submit">
<i class="ti-arrow-right"></i>
</button>
</div>
</div>
<div style="position: absolute; left: -5000px;">
<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
</div>
<div class="info"></div>
</form>
</div>
</div>
</div>
<div class="footer-bottom row align-items-center text-center text-lg-left">
<div class="col-lg-4 col-md-12 text-center text-lg-right footer-social">
<a href="#"><i class="ti-facebook"></i></a>
<a href="#"><i class="ti-twitter-alt"></i></a>
<a href="#"><i class="ti-dribbble"></i></a>
<a href="#"><i class="ti-linkedin"></i></a>
</div>
</div>
</div>
</footer>
<script src="{% static 'js/jquery-3.2.1.min.js'%}" type="0df7bc5c9e9f73d5f6fca62f-text/javascript"></script>
<script src="{% static 'js/bootstrap.bundle.min.js'%}" type="0df7bc5c9e9f73d5f6fca62f-text/javascript"></script>
<script src="{% static 'js/owl.carousel.min.js'%}" type="0df7bc5c9e9f73d5f6fca62f-text/javascript"></script>
<script src="{% static 'js/jquery.ajaxchimp.min.js'%}" type="0df7bc5c9e9f73d5f6fca62f-text/javascript"></script>
<script src="{% static 'js/mail-script.js'%}" type="0df7bc5c9e9f73d5f6fca62f-text/javascript"></script>
<script src="{% static 'js/main.js'%}" type="0df7bc5c9e9f73d5f6fca62f-text/javascript"></script>
</html>